.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color:var(--clr1bg);
  color: var(--gray1);
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.nav-bar>*:not(:last-child) {
  margin-right: 1rem;
}

.nav-bar>* {
  /* text-decoration: none; */
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: bold;
  margin-inline: 15px;

}

.nav-bar>*:hover {
  color: rgb(119, 109, 109);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.app-header a.active {
  color: var(--clr2bg);
  font-weight: 600;
  text-decoration: underline;
}